@import 'variables.scss';

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight:400;
}

html, * {
  box-sizing: border-box;
}

h1, h2, h3, h4,h5, h6{
  margin:0;
  font-weight:700;
}

h1{
  font-size:22px;
}

h3{
  font-size:18px;
}

a{
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}

.wrap{
  @media screen and (min-width: $breakpoints-desktop) {
    max-width: $max_width;
    margin: 0 auto;
  }
}

label{
  padding-right: 10px;
  font-size: 16px;
  color: $label-color;
}

input[type="text"], textarea, select{
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 16px;
  color:$input-color;
  border: 1px solid $input-border-color;
}
textarea{
  resize: none;
  overflow-y: auto;
  height:150px;
}

select{
  height: 32px;
  background: white;
}
.error-message{
  color: $error_message;
}
.main-layout-header{
  margin-top:51px;
}
