$grey1:rgba(0,0,0, 0.7);
$grey2:rgba(0,0,0, 0.4);
$grey3:rgba(51, 51, 51, 0.3);
$grey4: #b8b8b8;

$primary-color:#1FBCD3;
$secondary-color:#93E7EF;
$text-color:#fff;
$popover-background:$grey1;
$popover-shadow:$grey2;
$header-shadow:$grey3;
$completed-status:#3AE1B0;
$urgent-status:#EB3B40;
$in-progress-status:$grey4;

$breakpoints-desktop:800px;
$breakpoints-tablet:600px;
$breakpoints-mobile:320px;

$max_width:978px;